.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/board1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-image-1 {
  width: 359px;
  height: 229px;
  margin: 107px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.3125rem;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Lobster, display;
  font-weight: 400;
  margin: 120px 106px 0;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 20px auto 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    width: 697px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 217px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 412px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  margin: 100px 60px 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-bottom: 60px;
  }
}.u-section-3 {
  min-height: 810px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 405px;
  background-size: auto 110%;
}

.u-section-3 .u-image-1 {
  background-image: url("images/board2.png");
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 405px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/board4.png");
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  width: 213px;
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 405px;
  background-size: 125%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/heart.png");
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  width: 144px;
  margin: 66px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 640px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 334px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 334px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 334px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 334px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 562px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    width: 180px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1446px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1026px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 363px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1602px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 341px 0 318px;
}

.u-section-4 .u-text-3 {
  margin: 49px 341px 0 318px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1000px;
  margin: 49px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-5 {
  width: 425px;
  margin: 12px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 270px;
  height: 270px;
  background-image: url("images/board2.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-7 {
  width: 400px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 270px;
  height: 270px;
  background-image: url("images/board4.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-9 {
  width: 400px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 270px;
  height: 270px;
  background-image: url("images/driedfruits.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 75px auto 60px;
  padding: 10px 73px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-4 .u-text-2 {
    width: 699px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 241px;
    margin-left: 218px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    min-height: 456px;
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-4 .u-text-5 {
    width: 400px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 171px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 131px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 131px;
    margin-left: 108px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 273px;
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    width: 336px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-4 .u-image-1 {
    width: 264px;
    height: 264px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-7 {
    width: 336px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 131px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-text-9 {
    width: 336px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1814px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 41px;
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 41px;
    margin-left: 18px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 572px;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 197px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 197px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-right: auto;
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 240px;
    width: 340px;
  }

  .u-section-4 .u-text-5 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-4 .u-text-7 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 124px;
  }

  .u-section-4 .u-text-9 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 124px;
  }
}.u-section-5 {
  min-height: 707px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 707px;
  background-image: url("images/202221661_793152324682093_7343398663984383960_n.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 338px;
  background-image: url("images/203729026_2601478153492589_1647488865438179091_n.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 369px;
  background-image: url("images/202998095_794571828090812_6413107585891955321_n.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 369px;
  background-image: url("images/202684753_1226501277771590_5727374453641531295_n.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 637px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 583px;
  }

  .u-section-5 .u-image-2 {
    min-height: 279px;
  }

  .u-section-5 .u-image-3 {
    min-height: 304px;
  }

  .u-section-5 .u-image-4 {
    min-height: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 1319px;
  }

  .u-section-5 .u-image-1 {
    min-height: 893px;
  }

  .u-section-5 .u-image-2 {
    min-height: 427px;
  }

  .u-section-5 .u-image-3 {
    min-height: 466px;
  }

  .u-section-5 .u-image-4 {
    min-height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1448px;
  }

  .u-section-5 .u-image-1 {
    min-height: 670px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 320px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 699px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 699px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1025px;
  }

  .u-section-5 .u-image-1 {
    min-height: 422px;
  }

  .u-section-5 .u-image-2 {
    min-height: 201px;
  }

  .u-section-5 .u-image-3 {
    min-height: 440px;
  }

  .u-section-5 .u-image-4 {
    min-height: 440px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 335px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 850px;
  font-size: 1.1875rem;
  margin: 28px auto 0;
}

.u-section-6 .u-form-1 {
  height: 225px;
  width: 570px;
  margin: 46px auto 0;
}

.u-section-6 .u-form-group-1 {
  margin-left: 0;
}

.u-section-6 .u-label-1 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-2 {
  margin-left: 0;
}

.u-section-6 .u-label-2 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-label-3 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-label-4 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-5 {
  margin-left: 0;
}

.u-section-6 .u-label-5 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-6 {
  margin-left: 0;
}

.u-section-6 .u-label-6 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-7 {
  margin-left: 0;
}

.u-section-6 .u-form-group-8 {
  margin-left: 0;
}

.u-section-6 .u-form-group-9 {
  margin-left: 0;
}

.u-section-6 .u-form-group-10 {
  width: 100%;
}

.u-section-6 .u-label-10 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-11 {
  width: 100%;
}

.u-section-6 .u-label-11 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-12 {
  margin-left: 0;
}

.u-section-6 .u-label-12 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-13 {
  margin-left: 0;
}

.u-section-6 .u-label-13 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-14 {
  margin-left: 0;
}

.u-section-6 .u-label-14 {
  letter-spacing: 1px;
}

.u-section-6 .u-form-group-15 {
  width: 100%;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px 11px 29px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  width: 500px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 275px;
  }

  .u-section-6 .u-form-group-1 {
    width: 100%;
  }

  .u-section-6 .u-form-group-2 {
    width: 100%;
  }

  .u-section-6 .u-form-group-3 {
    width: 100%;
  }

  .u-section-6 .u-form-group-4 {
    width: 100%;
  }

  .u-section-6 .u-form-group-5 {
    width: 100%;
  }

  .u-section-6 .u-form-group-6 {
    width: 100%;
  }

  .u-section-6 .u-form-group-7 {
    width: 100%;
  }

  .u-section-6 .u-form-group-8 {
    width: 100%;
  }

  .u-section-6 .u-form-group-9 {
    width: 100%;
  }

  .u-section-6 .u-form-group-12 {
    width: 100%;
  }

  .u-section-6 .u-form-group-13 {
    width: 100%;
  }

  .u-section-6 .u-form-group-14 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 292px;
}

.u-section-7 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-7 .u-text-2 {
  width: 550px;
  margin: 0 auto 60px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}